* {
	padding: 0;
	margin: 0;
}

body {
	box-sizing: border-box;
}

.swiper-button-next,
.swiper-button-prev {
	background-color: #363636;
	right: 10px;
	padding: 25px;
	color: white !important;
	border-radius: 50%;
	fill: white !important;
	stroke: white !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
	background-color: #242424;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	scale: 0.5;
	color: white !important;
	fill: white !important;
	stroke: white !important;
}

*::-webkit-scrollbar {
	width: 6px;
}

*::-webkit-scrollbar-track {
	background: #fff;
}

*::-webkit-scrollbar-thumb {
	background: #f71313;
	border-radius: 10px;
}

/* Hamburger Menu Styles */
#hamburgerMenu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	gap: 20px;
	background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.2) 0%,
			rgba(0, 0, 0, 0.2) 100%
		),
		#f71313;
	position: absolute;
	top: 105px;
	right: 0;
	width: 400px;
	height: 0;
	overflow: hidden;
	transition: height 0.3s ease-in-out;
	z-index: 99;
}

#hamburgerMenu.open {
	padding-top: 40px;
	height: 600px;
}

#hamburgerMenuToggle .line {
	display: block;
	height: 3px;
	width: 30px;
	background: white;
	border-radius: 2px;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

#hamburgerMenuToggle.close .line:nth-child(1) {
	transform: rotate(45deg) translate(5px, 5px);
}

#hamburgerMenuToggle.close .line:nth-child(2) {
	opacity: 0;
}

#hamburgerMenuToggle.close .line:nth-child(3) {
	transform: rotate(-45deg) translate(5px, -5px);
}

.hidden {
	display: none;
}

#calendar {
	margin-top: 10px;
	position: absolute;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.item {
	border: 1px solid #ccc;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
}
.item-price {
	font-weight: bold;
}

.sliders_control {
	position: relative;
	min-height: 50px;
}

.form_control {
	position: relative;
	display: flex;
	justify-content: space-between;
	color: #635a5a;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	pointer-events: all;
	width: 24px;
	height: 24px;
	background-color: #f71313;
	border-radius: 50%;
	box-shadow: 0 0 0 1px #c6c6c6;
	cursor: pointer;
}

input[type='range']::-moz-range-thumb {
	pointer-events: all;
	width: 24px;
	height: 24px;
	background-color: #f71313;
	border-radius: 50%;
	box-shadow: 0 0 0 1px #c6c6c6;
	cursor: pointer;
}

input[type='range']::-webkit-slider-thumb:active {
	box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
	-webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type='number'] {
	color: #8a8383;
	width: 100%;
	height: 30px;
	font-size: 20px;
	border: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	opacity: 1;
}

input[type='range'] {
	-webkit-appearance: none;
	appearance: none;
	height: 2px;
	width: 100%;
	position: absolute;
	background: #909090;
	pointer-events: none;
}

#fromSlider {
	height: 0;
	z-index: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#datePicker {
	position: absolute;
	top: 40px;
	left: -20px;
	z-index: 999;
	display: flex;
	justify-content: center;
}

#priceRangeModal {
	position: absolute;
	top: 140px;
	z-index: 999;
	display: flex;
	justify-content: center;
}
@media screen and (max-width: 768px) {
	#datePicker {
		left: -200px;
		width: 100vw;
	}
}

@media screen and (max-width: 768px) {
	#priceRangeModal {
		left: -6%;
		top: 5.4%;
		width: 100vw;
	}
}

.modal-content {
	background-color: #fff;
	margin: auto;
	height: 250px;
	width: 460px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	max-width: 500px;
	border-radius: 20px;
	filter: drop-shadow(0px 0px 18px rgba(170, 170, 170, 0.25));
}

@media screen and (max-width: 768px) {
	.modal-content {
		width: 350px;
	}
}

.modal-content1 {
	background-color: #fff;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	max-width: 500px;
	border-radius: 20px;
	border-radius: 20px;
	filter: drop-shadow(0px 0px 18px rgba(170, 170, 170, 0.25));
}


.button.active {
	color: #F71313; 
}
